.test {
  background: red;
}
.test-qmui {
  background: blue;
}
.test_qmui {
  background: yellow;
}
.zero_qmui0 {
  background: yellow;
}
.test_list_item {
  background: yellow;
}
.test_list {
  background: yellow;
}
.test_head_title {
  font-size: 20px;
}
